<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners list</title>
</head>
<body>
<h1 th:text="'Owners page'">List of owners...</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <!--    "?" <-- sign below is a thymeleaf null-safe operator  -->
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">1</td>
        <td th:text="${vet.lastName}">1</td>
    </tr>
    </tbody>
</table>
</body>
</html>